{% extends "layout.html" %} 

{% block custom_css %}
    <!-- Finding path to static folder: https://www.siparker.net/python/how-to-use-blueprint-static-folders-correctly-in-python-flask/ -->
    <link href="{{ url_for('.static', filename='todo.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Todo App
{% endblock %} 

{% block body %}
    <div class="todo-container">
        <div class="todo__add">
            <form class="todo__add__form" action="#" method="post">
                <input type="text" id="new-task" placeholder="Enter task here...">
                <button type="submit">ADD</button>
            </form>
        </div>
        <div class="todo__group">
            <div class="todo__group__item" onclick="onClickTodoItem(this);">
                {% block todo_item %}
                {% endblock %}
            </div>
            <div class="todo__group__item">
                <p class="todo__group__item__desc">Finish math homework</p>
            </div>
            <div class="todo__group__item">
                <p class="todo__group__item__desc">Buy milk</p>
            </div>
            <div class="todo__group__item">
                <p class="todo__group__item__desc">Run 2 miles</p>
            </div>
            <div class="todo__group__item">
                <p class="todo__group__item__desc">Schedule doctor's appointment</p>
            </div>
        </div>
        <div class="todo__clear">
            <button>Clear<span>5</span></button>
        </div>
    </div>
    {% block custom_script %}
        <script>
            // Displays edit controls when todo item is clicked
            function onClickTodoItem(element){
                const todoActionButtons = element.querySelector('.todo__group__item__action');
                const todoItemText = element.querySelector('.todo__group__item__desc');
                todoActionButtons.classList.toggle("hide");
                todoItemText.classList.toggle("invisible");
                element.classList.toggle("blur-background");
            }
        </script>
    {% endblock %}
{% endblock %}