body {
    background-color:#001f3f;
}

h1 {
    font-size: 75px;
    color: white;
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

p {
    font-size: 25px;
    color: white;
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

label {
    font-size: 20px;
    color: white;
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

button {
    background-color: #D0D0D0;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

button:hover {
    background-color: white;
}

.signup-container {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.sign-in {
    align-content: center;
    display: flex;
    flex-direction: column;
}

#email, #password, #psw-repeat {
    margin-bottom: 25px;
    max-width: 33%;
    height: 45px;
    font-size: 20px;
}

#signin-label {
    display: block;
}

#signin {
    display: block;
    max-width: 25%;
    margin-top: 10px;
    flex-direction: column;
}

#register-button {
    margin-bottom: 10px;
}



