{% extends "layout.html" %} 

{% block custom_css %}
    <link href="{{ url_for('static', filename='todo.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Todo App
{% endblock %} 

{% block body %}
    <div class="todo">
        <div class="todo__add">
            <form action="#" method="post">
                <input type="text" id="new-task" placeholder="Enter task here...">
                <button type="submit">ADD</button>
            </form>
        </div>
        <div class="todo__items">
            <div class="todo__items__item">
                <p class="todo__items__item__desc">Take out the trash</p>
            </div>
            <div class="todo__items__item">
                <p class="todo__items__item__desc">Finish math homework</p>
            </div>
            <div class="todo__items__item">
                <p class="todo__items__item__desc">Buy milk</p>
            </div>
            <div class="todo__items__item">
                <p class="todo__items__item__desc">Run 2 miles</p>
            </div>
            <div class="todo__items__item">
                <p class="todo__items__item__desc">Schedule doctor's appointment</p>
            </div>
        </div>
        <div class="todo__clear">
            <button>Clear<span>5</span></button>
        </div>
    </div>
        
{% endblock %}