:root {
    /* rounded corners for box-like elements */
    --radius: 5px;
    --desktop-width: 50%;
    --mobile-width: 80%;
}

.todo-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* Take up entire width of screen */
    width: 100%; 
}

/* 
    Input form for adding todos 
*/
.todo__add {
    margin: 2em 0;
    /* Need to explicitly set width to adjust width for input form */
    width: 100%;
}

.todo__add__form{
    /* Allow input field and button sit side by side */
    display: flex;
    width: var(--desktop-width);
    /* `auto` allows input form to be centered in page */
    margin: 0 auto;
}

.todo__add__form button, 
.todo__add__form input {
    padding: 0.5em 1em;
    font-size: 1.2em;
}

.todo__add__form button {
    background-color: var(--todo-green);
    border: 1px solid transparent;
    color: white;
    /* sets radius for top and bottom right corners */
    border-radius: 0 var(--radius) var(--radius) 0;
    border-left: 0;
}

.todo__add__form input {
    font: 'Roboto Condensed';
    font-style: italic;
    /* take up 100% of available space */
    width: 100%;
    border: 1px solid gray;
}

.todo__add__form input, 
.todo__add__form input:focus {
    border-radius: var(--radius) 0 0 var(--radius);
}

.todo__add__form input:focus {
    border: 4px solid var(--todo-green);
    font-style: normal;
    /* remove default outline when input is selected */
    outline: none;
}

/* 
    Displaying, editing, and deleting todos 
*/
.todo__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.todo__group__no-items {
    font-family: 'Roboto Condensed';
    font-style: italic;
}

.todo__group__item {
    /* 
      - Need to set position here for the SVG buttons
      - Because the SVG buttons use position:absolute
      - Which requires the parent to have a non-default position
      - Otherwise, they would be positioned to the HTML body
      - https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/#aa-absolute
    */
    position: relative;
    padding: 1em;
    width: var(--desktop-width);
    border-radius: var(--radius);
    font: 'Roboto Condensed';
    font-style: italic;
    font-size: 1.2em;
}

.todo__group__item__action {
    /* set edit and delete button positions relative to its container */
    position: absolute;
    /* center items vertically according to the middle of the elements rather than the top edge */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* set buttons to sit side by side */
    display: flex;
}

.todo__group__item__action button {
    background: none;
    border: none;
    padding: 0 0.5em;
}

.todo__group__item__action button:hover {
    /* increase size of button when mouse hovers over */
    transform: scale(1.2);
}

.todo__group__item__action__edit, 
.todo__group__item__action__delete {
    /* Centers the SVGs */
    /* Note: not sure why... */
    display: flex;
}

/* TODO: Implement color repetition pattern properly*/
.todo__group__item:not(:last-child) {
    margin-bottom: 1em;
}

.todo__group__item:nth-child(4n-3) {
    background-color: var(--todo-light-green);
}

.todo__group__item:nth-child(4n-2) {
    background-color: var(--todo-light-red);
}

.todo__group__item:nth-child(4n-1) {
    background-color: var(--todo-light-yellow);
}

.todo__group__item:nth-child(4n) {
    background-color: var(--todo-light-yellow-green);
}

/* 
    Todos clear all button 
*/

.todo__clear {
    display: flex;
    /* makes it so element is positioned on the right edge */
    justify-content: flex-end;
    /* Needed to for button to be aligned with the above HTML elements */
    width: var(--desktop-width);
    margin: 1.5em 0;
}

.todo__clear button {
    background-color: var(--todo-red);
    border-radius: var(--radius);
    color: white;
    padding: 0.5em;
    border: 0;
    font-size: 1.2em;
}

.todo__clear span {
    padding: 0 0.3em;
    background-color: white;
    color: black;
    border-radius: var(--radius);
    margin-left: 0.3em;
}

@media screen and (max-width: 600px){
    .todo__add__form {
        width: var(--mobile-width);
    }

    .todo__group__item {
        width: var(--mobile-width);
    }

    .todo__group__item:not(:last-child) {
        margin-bottom: 0;
    }

    .todo__clear {
        width: var(--mobile-width);
    }
}

/* 
    utility classes 
*/

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.blur-background {
    background: var(--todo-red) !important;
}
