{% extends "layout.html" %}

{% block title %}
    Todo App
{% endblock %}

{% block body %}

    <div class="purpose">
        <h2>Purpose</h2>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
    </div>

    <div class="members">
        <h2>Members</h2>
        <ul>
        <li>Member #1 - link to github</li>
        <li>Member #2 - link to github</li>
        <li>Member #3 - link to github</li>
        </ul>
    </div>

    <div class="community">
        <h2>Community Banner</h2>
        <p>Invite link to Discord server</p>
    </div>

{% endblock %}
